* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #3C4139;
  font-family: "Poppins", sans-serif;
}

.space {
  padding: 20px 0px;
}

@media only screen and (max-width: 576px) {
  .footer__div {
    display: grid;
    height: 100vh;
  }
  .footer__info {
    display: grid;
    grid-template-columns: 1fr;
  }
  .form__formulario {
    display: grid;
  }
  .formulario {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    text-align: justify;
  }
}
.footer__div {
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../img/footer.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  opacity: 1;
}

.footer__info {
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  width: 40vw;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
  padding: 10px;
  font-size: 1.8rem;
  margin-left: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: start;
}

.footer__info--p2 {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.footer__info--p3 {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.footer__info--p4 {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.form__formulario {
  text-align: center;
  display: flex;
  width: fit-content;
  padding: 2rem 3rem;
  border-radius: 80px;
  color: #FFFFFF;
  background-color: #F4AB3E;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.form__formulario input {
  display: flex;
  margin-bottom: 10px;
  width: 30vw;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
}

.formulario input {
  background-color: #FFFFFF;
  border-style: none;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.pregunta {
  display: flex;
  width: 30vw;
  height: 12rem;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.btn__formulario {
  margin-top: 1rem;
  padding: 0.5em;
  border: solid #FFFFFF;
  background-color: #F4AB3E;
  color: white;
  border-radius: 80px;
  padding: 5px 40px 5px 40px;
  font-family: "Poppins", sans-serif;
}

.space2 {
  padding: 4px;
}

.copyright {
  height: max-content;
  background-color: black;
  text-align: center;
  color: white;
}

.header {
  margin-left: 5em;
  margin-right: 20em;
}

.navbar__logo {
  padding: 0;
  margin-top: 0;
}

.navbar__logo img {
  width: 50%;
  padding: 0;
  margin: 0;
}

.nav-item {
  font-family: "Poppins", sans-serif;
  margin-right: 2em;
}

.nav-link {
  font-size: 1.2rem;
  color: #272A25;
  font-weight: 800;
}

.hero-section {
  background-image: url(/img/home.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 5px;
  right: 20px;
  font-weight: 600;
  background-color: #F4AB3E;
  border-top-left-radius: 20px;
  padding: 50px;
  z-index: 999;
}

.search-form .form-group {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

input {
  background-color: #F4AB3E;
  padding: 10px;
  border-radius: 10px;
}

.search-form .form-group label {
  margin-right: 5px;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  font-weight: 800;
}

.search-form .search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4AB3E;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.search-form .search-btn i {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .navbar {
    text-align: right;
  }
  .nav-link {
    font-size: 1.2rem;
    color: #FFFFFF;
    font-weight: 800;
    text-align: right;
  }
  .hero-section {
    height: 500px;
  }
  .search-form {
    display: none;
    width: 100%;
    flex-direction: column;
    font-size: 1em;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 5%;
  }
  .navbar__links li a {
    color: white;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .hero__section--main {
    height: 100%;
  }
  .main__section {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
  }
  .iconos {
    display: grid;
    grid-row-end: auto;
    grid-template-rows: 1fr;
  }
  .svg__p {
    display: none;
  }
  .main__section--titulo2 {
    font-size: 1.2rem;
  }
  .text {
    letter-spacing: 2px;
    margin: 0 auto;
  }
  .text__p {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
  }
}
.hero__section--main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/main.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  opacity: 1;
}

.main__section {
  padding: 10px;
}

.main__section--titulo {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 60px;
  letter-spacing: 5px;
  color: #FFFFFF;
  font-weight: 600;
}

.main__section--titulo1 {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 20px;
  letter-spacing: 5px;
  color: #FFFFFF;
  font-weight: 600;
}

.main__section--p {
  text-align: center;
  margin-top: 1px;
  padding: 1px;
  color: #FFFFFF;
  font-weight: 800;
}

.iconos {
  color: #FFFFFF;
  margin-top: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.svg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutus {
  color: #FFFFFF;
  padding-top: 0.8rem;
  text-align: center;
  margin: 1em;
  display: flex;
}

.main__section--titulo2 {
  color: #FFFFFF;
  text-align: center;
  margin: 1rem;
}

.text {
  color: #FFFFFF;
  letter-spacing: 1.3px;
  padding: 5px;
  width: 60%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 1rem;
}

@media (min-width: 320px) and (max-width: 720px) {
  .section__glamping {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
  }
  .glamping__svg--iconos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
  }
  .section__glamping2 {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    width: 100%;
  }
  .glamp__titulo--p2 {
    width: 60%;
  }
}
.glamping__total {
  width: 80vw;
  margin: 0% 15% 0% 12%;
}

.section__glamping {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 70vw;
  margin: 0 4%;
}

.main__section--titulo1 {
  text-align: center;
  color: white;
  padding-bottom: 6rem;
}

.imgglamp {
  width: 69vw;
  height: 40vh;
}

.glamp1 {
  padding-top: 1rem;
  margin-left: 2rem;
}

.glamping__svg--iconos {
  display: flex;
  gap: 30px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.glamping__svg--icono1 {
  margin-top: 1px;
  font-size: 0.9rem;
}

.informacion__glamp1 {
  width: 80%;
}

.informacion__glamp3 {
  width: 100%;
}

.section__glamping2 {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 70vw;
  margin: 0 4%;
}

.informacion__glamp2 {
  width: 40vh;
  text-align: start;
}

.seccion__button {
  display: flex;
}

.button {
  background: none;
  border-radius: 15px 15px 15px 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border-color: #F4AB3E;
  color: #F4AB3E;
  font: inherit;
  cursor: pointer;
  outline: none;
  padding: 3px 25px 3px 25px;
  margin-right: 2em;
}

.button__more {
  background: none;
  border-radius: 15px 15px 15px 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border-color: #FFFFFF;
  color: #FFFFFF;
  font: inherit;
  cursor: pointer;
  outline: none;
  padding: 3px 25px 3px 25px;
  margin-right: 2em;
}

.glamp__titulo {
  font-size: 2rem;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.glamp__titulo--p {
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.zona {
  height: 100vh;
  background-image: url(/img/guestsaying.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.guest {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.square {
  background-color: rgba(20, 20, 21, 0.5);
  transform: translate(0px, 400px);
}

.guest__seccion {
  text-align: center;
  height: auto;
  color: #FFFFFF;
  padding: 10px;
}

.guest__seccion--feed {
  color: #FFFFFF;
  letter-spacing: 1.3px;
  padding: 6px;
  width: 70%;
  margin: 0 auto;
  line-height: 1.8em;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 1rem;
}

.guest__seccion--p {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.guest__titulo {
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.guest__titulo--nombre {
  color: #F4AB3E;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.question {
  width: 100%;
}

.titulos {
  text-align: center;
  padding: 10px;
  margin: 10px;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
}

span {
  margin: 0px 0px 0px 30px;
}

.preguntas__p {
  margin: 20px 0px 20px 0px;
  padding: 20px 5px 5px 20px;
  border-radius: 60px;
  text-align: start;
  background-color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

/*# sourceMappingURL=styles.css.map */
