@media only screen and (max-width: 576px) {
    

    .footer__div{
    display: grid;
    height: 100vh;
    }
    
    .footer__info{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .form__formulario{
        display: grid;
    }
    .formulario{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        text-align: justify;
    }
    
    }
    
    // /* Medium devices (tablets) */
    // @media only screen and (min-width: 577px) and (max-width: 992px) {
    
    
    //     .footer {
    //         /* Styles for medium devices */
    //         justify-content: flex-start;
    //         align-items: flex-start;
    //     }
    
    
    
    //     .form__formulario {
    //         /* Styles for medium devices */
    //         margin-top: 20px;
    //     }
    
    //     .formulario {
    //         /* Styles for medium devices */
    //     }
    // }
    
    .footer__div {
        display: flex;
        align-content: space-around;
        justify-content: space-evenly;
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url(../../img/footer.jpg);
        background-size: cover;
        background-position: center;
        height: 100%;
    
        opacity: 1;
    
    }
    
    
    
    
    
    .footer__info {
        letter-spacing: 2px;
        display: flex;
        justify-content: space-between;
        width: 40vw;
        align-items: center;
        flex-direction: column;
        color: map-get($colores , letras);
        padding: 10px;
        font-size: 1.8rem;
        margin-left: 2rem;
        font-family: $tipografia;
        font-weight: map-get($font-weights , regular);
        text-align: start;
    }
    
    
    
    .footer__info--p2 {
        font-size: 1.5rem;
        // margin-right: 10.4rem;
    
        font-family: $tipografia;
        font-weight: map-get($font-weights , regular);
    }
    
    .footer__info--p3 {
        font-size: 1rem;
        // margin-right: 10rem;
    
        font-family: $tipografia;
        font-weight: map-get($font-weights , regular);
    }
    
    .footer__info--p4 {
        font-size: 1.5rem;
        // margin-right: 10rem;
    
        font-family: $tipografia;
        font-weight: map-get($font-weights , medio);
    }
    
    
    
    .form__formulario {
        text-align: center;
        display: flex;
    
    
        width: fit-content;
        // height: 55VH;
    
        padding: 2rem 3rem;
        border-radius: 80px;
        color: map-get($colores , letras);
        background-color: map-get($colores , formulario);
        // transform: translate(5%, 30%);
        font-family: $tipografia;
        font-weight: map-get($font-weights , medio);
    }
    
    .form__formulario input {
        display: flex;
        margin-bottom: 10px;
        width: 30vw;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 20px;
        font-family: $tipografia;
    }
    
    .formulario input {
        background-color: map-get($colores , letras);
        border-style: none;
        border-radius: 30px;
        font-family: $tipografia;
        font-weight: map-get($font-weights , medio);
    
    
    }
    
    
    .pregunta {
        display: flex;
        width: 30vw;
        height: 12rem;
        flex-direction: column;
        font-family: $tipografia;
    }
    
    .btn__formulario {
        margin-top: 1rem;
        padding: 0.5em;
        border: solid map-get($colores, letras);
        background-color: map-get($colores , formulario);
        color: white;
        border-radius: 80px;
        padding: 5px 40px 5px 40px;
        font-family: $tipografia;
    }
    
    .space2 {
        padding: 4px;
    }
    
    
    
    .copyright {
        height: max-content;
       background-color: black;
        text-align: center;
        color: white;
    }