.header {
    margin-left: 5em;
    margin-right: 20em;
}

.navbar__logo {
    padding: 0;
    margin-top: 0;


}


.navbar__logo img {
    width: 50%;
    padding: 0;
    margin: 0;
}

.nav-item {
    font-family: $tipografia;
    margin-right: 2em;
}

.nav-link {
    font-size: 1.2rem;
    color: map-get($colores , navbar);
    font-weight: map-get($font-weights , bol);
}


.hero-section {
    background-image: url(/img/home.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 5px;
    right: 20px;
    font-weight: map-get($font-weights, medio);
    background-color: map-get($colores, formulario);
    border-top-left-radius: 20px;
    padding: 50px;
    z-index: 999;
}

.search-form .form-group {
    font-family: $tipografia;
    display: flex;
    align-items: center;
    margin-right: 20px;
}


input {
    background-color: map-get($colores, formulario);
    padding: 10px;
    border-radius: 10px;
}

.search-form .form-group label {
    margin-right: 5px;
    font-family: $tipografia;
    color: map-get($colores, letras);
    font-weight: map-get($font-weights, bol);
}

.search-form .search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: map-get($colores, formulario);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.search-form .search-btn i {
    margin-right: 5px;
}

@media (max-width: 768px) {

    .navbar {
        text-align: right;
    }

    .nav-link {
        font-size: 1.2rem;
        color: map-get($colores , letras);
        font-weight: map-get($font-weights , bol);
        text-align: right;
    }


    .hero-section {
        height: 500px;

    }

    .search-form {
        display: none;
        width: 100%;
        flex-direction: column;
        font-size: 1em;
        flex-wrap: wrap;
        // translate:  5px -400px 50px;//
        padding: 5px;
        border-radius: 5%;


    }

    .navbar__links li a {
        color: white;
    }
}

//Finaliza Landing PAGE!!!

// Main section //


@media (min-width:320px) and (max-width:768px) {
    .hero__section--main {
        height: 100%;



    }

    .main__section {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;

    }

    .iconos {
        display: grid;
        grid-row-end: auto;
        grid-template-rows: 1fr;

    }

    .svg__p {
        display: none;
    }

    .main__section--titulo2 {
        font-size: 1.2rem;

    }



    .text {


        letter-spacing: 2px;
        margin: 0 auto;
    }

    .text__p {
        display: grid;
        grid-template-rows: 1fr;
        width: 100%;

    }

}

.hero__section--main {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/img/main.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    opacity: 1;

}

.main__section {

    padding: 10px;


}

.main__section--titulo {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 60px;
    letter-spacing: 5px;
    color: map-get($colores, letras);
    font-weight: map-get($font-weights , medio);
}

.main__section--titulo1 {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 20px;
    letter-spacing: 5px;
    color: map-get($colores, letras);
    font-weight: map-get($font-weights , medio);
}

.main__section--p {
    text-align: center;
    margin-top: 1px;
    padding: 1px;
    color: map-get($colores, letras);
    font-weight: map-get($font-weights , bol);


}

.iconos {
    //width:80%;
    //margin-right 70%;
    color: map-get($colores, letras);
    margin-top: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;

}

.svg {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.aboutus {
    color: map-get($colores, letras);
    padding-top: 0.8rem;
    text-align: center;
    margin: 1em;
    display: flex;
}

.main__section--titulo2 {
    color: map-get($colores, letras);
    text-align: center;
    margin: 1rem;
}


.text {
    color: map-get($colores, letras);
    letter-spacing: 1.3px;
    padding: 5px;
    width: 60%;
    margin: 0 auto;
    font-family: $tipografia;
    font-weight: map-get($font-weights, bol);
    font-size: 1rem;
}


// // Main section  FINALIZO

//Comienza la section OUR GLAMPING

.section__glamping {
    margin-top: 3px;
}




.glamping__svg--iconos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: map-get($colores, letras);
}

.glamping__svg--icono1 {
    margin-top: 1px;
}

.informacion {
    padding-left: 3rem;
    text-align: start;
    display: inline-block;
}

.seccion__button {
    display: flex;
}

.button {
    background: none;
    border-radius: 15px 15px 15px 15px;
    font-family: $tipografia;
    font-weight: map-get($font-weights , medio);
    border-color: map-get($colores, formulario);
    color: map-get($colores, formulario);
    font: inherit;
    cursor: pointer;
    outline: none;
    padding: 3px 25px 3px 25px;
    margin-right: 2em;

}

.button__more {
    background: none;
    border-radius: 15px 15px 15px 15px;
    font-family: $tipografia;
    font-weight: map-get($font-weights , medio);
    border-color: map-get($colores, letras);
    color: map-get($colores, letras);
    font: inherit;
    cursor: pointer;
    outline: none;
    padding: 3px 25px 3px 25px;
    margin-right: 2em;
}

.glamp__titulo {
    font-size: 2rem;
    color: map-get($colores , letras);
    font-family: $tipografia;
    font-weight: map-get($font-weights , bol);
}

.glamp__titulo--p {
    color: map-get($colores , letras);
    font-family: $tipografia;
    font-weight: map-get($font-weights , regular);
}

.zona {

    height: 100vh;


}


.guest {
    background-image: url(/img/guestsaying.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;





}

.square {
    background-color: rgba(20, 20, 21, 0.500);
    transform: translate(0px, 400px);
}

.guest__seccion {

    text-align: center;

    height: auto;
    color: map-get($colores, letras);
    padding: 10px;
}

.guest__seccion--feed {
    color: map-get($colores, letras);
    letter-spacing: 1.3px;
    padding: 6px;
    width: 70%;
    margin: 0 auto;
    line-height: 1.8em;
    font-family: $tipografia;
    font-weight: map-get($font-weights, bol);
    font-size: 1rem;

}

.guest__seccion--p {
    font-family: $tipografia;
    font-weight: map-get($font-weights, bol);
}

.guest__titulo {
    color: map-get($colores, letras);
    font-family: $tipografia ;
    font-weight: map-get($font-weights, medio);
}

.guest__titulo--nombre {
    color: map-get($colores, formulario);
    font-family: $tipografia ;
    font-weight: map-get($font-weights, medio);
}
.question{
    width: 100%;
}

// seccion de preguntas 

.titulos {
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: map-get($colores, letras);
    font-family: $tipografia;
}

span {
    margin: 0px 0px 0px 30px;
}


.preguntas__p {
    margin: 20px 0px 20px 0px;
    padding: 20px 5px 5px 20px;
    border-radius: 60px;
    text-align: start;
    background-color: map-get($colores , letras);
    font-family: $tipografia;
    font-weight: map-get($font-weights, medio);
}


//Comienza el Footer 



.footer{
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), url(/img/footer.jpg);
background-size: cover;
background-position: center;
height: 100vh;
opacity: 1;
display: flex;
}

.container{
    margin-top: 4rem;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
}
.footer__info{
    letter-spacing: 2px;
    display: flex;
    width: 30vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: map-get($colores , letras );
    padding: 10px;
    font-size: 1.8rem;
    margin-left: 2rem;
}


.footer__info--p2{
    font-size: 1.5rem;
   margin-right: 10rem;
    width: 55%;
}

.footer__info--p3{
    font-size: 1rem;
    margin-right: 8.2rem;
     width: 60%;
}
